.like-icon .contour {
  fill: var(--heart-contour);
  transition: fill 0.1s linear 0s;
}

.like-icon .core {
  fill: var(--heart-core);
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: var(--heart-body);
  transition: fill 0.3s linear 0s;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--heart-sparks);
  transition: opacity 0.3s ease-in;
}

.like-icon:hover .core {
  fill: var(--heart-contour);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .contour {
  fill: var(--heart-contour);
}

.like-icon:active .core {
  fill: var(--heart-active);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-active);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .contour {
  fill: var(--heart-contour);
}

.like-icon.is-liked .core {
  fill: var(--heart-active);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-active);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-active);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-show 0.3s ease-in 0.3s;
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes sparks-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}